body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #eee;
    background-color: #222;
}

h1 {
    color: #fff;
    padding: 10px 0;
}

.topbar {
    position: sticky;
    top: 0;
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

a {
    color: #55f;
}

.topbar a {
    text-transform: lowercase;
    color: #aaf;
    text-decoration: none;
}